70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/Journey[[:space:]]Into[[:space:]]Your[[:space:]]Rainforest[[:space:]]Mi[[:space:]]-[[:space:]]Paula[[:space:]]Prober.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/A[[:space:]]Mente[[:space:]]em[[:space:]]Desenvolvimento[[:space:]]-[[:space:]]Daniel[[:space:]]J.[[:space:]]Siegel.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/Aaron[[:space:]]-[[:space:]]A-Meeting-of-Minds-Mutuality-in-Psychoanalysis.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/Dessincronização[[:space:]]Entropia[[:space:]]2024.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/Interpersonal[[:space:]]Neurobiology[[:space:]]and[[:space:]]-[[:space:]]Daniel[[:space:]]J.[[:space:]]Siegel[[:space:]]M.D_.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/Mind2017_[[:space:]]0[[:space:]](Norton[[:space:]]Series[[:space:]]on[[:space:]]Inter[[:space:]]-[[:space:]]Daniel[[:space:]]J.[[:space:]]Siegel[[:space:]]M.D_.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/Sex,[[:space:]]God,[[:space:]]and[[:space:]]the[[:space:]]Brain[[:space:]]-[[:space:]]Andrew[[:space:]]Newberg.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/The[[:space:]]Right[[:space:]]Brain[[:space:]]and[[:space:]]the[[:space:]]Origin[[:space:]]-[[:space:]]Allan[[:space:]]Schore[[:space:]]Ph.D_.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/WINNICOTT-a-Natureza-Humana.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/amnerman.pdf filter=lfs diff=lfs merge=lfs -text
70[[:space:]]-[[:space:]]Produções/Cursos/Curso[[:space:]]-[[:space:]]Nome[[:space:]]Provisório/80[[:space:]]-[[:space:]]Fontes[[:space:]]Bibliográficas/mais[[:space:]]além[[:space:]]do[[:space:]]eu[[:space:]]-[[:space:]]mario[[:space:]]s..pdf filter=lfs diff=lfs merge=lfs -text
